/* .App {
  text-align: center;
}
.name {
  font-weight: bold;
}
.name2 {
  font-weight: 400;
  font-style: normal;
}
.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.imgs {
  width: 55vw;
  display: block;
  margin: auto;
  inset: 0px;
}
.imgs2 {
  width: 80vw;
  display: block;
  margin: auto;
  inset: 0px;
  height: max-content !important;
}

.vl {
  border-left: 9px solid rgb(42, 42, 235);
  height: 100px;
  font-style: italic;
  font-weight: 600;
  font-size: 19px;
  margin: auto;
  padding: auto;
}
p {
  font-size: larger;
}
@media only screen and (max-width: 765px) {
  .imgs {
    width: 90vw;
  }
  .imgs2 {
    width: 90vw;
  }
} */
