@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}
.vl {
  border-left: 9px solid rgb(42, 42, 235);
  height: 100px;
  font-style: italic;
  font-weight: 600;
  font-size: 19px;
  margin: auto;
  padding: auto;
}